.vex-close{
  transition: .4s;

  &:before{
    font-size: 45px;
  }
}

.modal {
  display: flex;
  justify-content: space-between;
  //align-items: center;
  z-index: 9999;
  max-width: 488px;

  &_image {
    max-width: 976px;
    width: 100%;
  }

  &__picture {
    position: absolute;
    left: -133px;
    top: -29px;
    max-width: none;
    z-index: 1;
  }

  &__title {
    color: $black;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.96px;
    margin-bottom: 9px;

    @media(max-width: 520px){
      font-size: 40px;
      line-height: 1;
    }

    @media(max-width: 400px){
      font-size: 30px;
      line-height: 1;
    }

    @media(max-width: 375px){
      font-size: 24px;
    }
  }

  &__decription {
    color: $black;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-top: 0;
    margin-bottom: 25px;

    @media(max-width: 520px){
      font-size: 18px;
    }

    @media(max-width: 400px){
      padding: 3px 20px;
    }

    @media(max-width: 375px){
      font-size: 16px;
    }
  }

  &__content {
    width: 100%;
    position: relative;
    background-color: $gray;
    padding: 55px 55px 75px;
    text-align: center;

    &_secondary {
      padding-left: 62px;
      padding-right: 62px;
      text-align: left;

      .modal__title {
        margin-bottom: 23px;
      }

      .modal__decription {
        margin-bottom: 29px;
      }
    }

    @media(max-width: 460px) {
      padding: 40px 20px 20px;
    }
  }

  &__close {
    display: flex;
    justify-content: center;
    align-items: center;
    //position: absolute;
    //top: 0;
    //right: -102px;
    z-index: 10;
    background-color: $red;
    max-width: 102px;
    max-height: 102px;
    padding: 40px;
    cursor: pointer;

    &:hover{
      color:$red;
      background-color: $gray;
    }

    @media (max-width: 700px){
      right: 0;
      background-color: transparent;
      color:$red;

      &:hover{
        color: $black;
      }
    }

    @media (max-width: 520px){
      padding: 0 20px;
    }
  }
}
