.page{
  min-height: 100vh;
  background: linear-gradient(rgba($black, 0.9), transparent),
    url("../images/bg_main.jpg") center / cover;
  z-index: 2;
}

h1 {
  font-weight: 700;
  color: $white;
}
