doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='./css/style.css')
    script(defer src='./js/bundle.js')
    title Ayu-Dag - Resort & Spa

  body.page
    include components/main-header/main-header
    include components/motivation/motivation

    // Modals
    include components/thanks/thanks
    include components/callback/callback
    include components/present/present
    include components/price/price
