$msc700: "Museo Sans Cyrl -700";
$msc100: "Museo Sans Cyrl -100";

$white: #ffffff;
$lightgray: #f5f8f9;
$gray: #f1f3f4;
$black: #23292e;

$fuchsia: #ca0067;
$red: #ec3a48;
$another_red: #d42e3b;
$magazine_hover_red: #dd2a39;

$height_formfields: 72px;
$bradius_formfield: 35px;
$width_formfields: 372px;

$close_height_width: 102px;
