.container
  .row
    .col-xl-2
    .col-xl-8.motivation
      h1.motivation__title Купите апартаменты в отеле премиум-класса и получите жилье на берегу моря,
      .motivation__slogan в котором вы сможете жить или сдавать его по хорошей цене
      ul.motivation__download
        li.motivation__download-item
          a.motivation__download-link(href='') Скачать полный прайс
        li.motivation__download-item
          a.motivation__download-link(href='') Скачать презентацию
    .col-xl-2
