.motivation {
  padding-top: 90px;

  &__intro {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 auto;
    color: $lightgray;

    &-title {
      display: flex;
      font-weight: 700;
      font-size: 48px;
      letter-spacing: 1px;
      line-height: 1.21;

      @media (max-width: 1200px) {
        font-size: 40px;
      }

      @media (max-width: 375px) {
        font-size: 30px;
        letter-spacing: 0.6px;
      }
    }

    &-slogan {
      display: flex;
      padding-top: 16px;
      font-size: 21px;
      font-weight: 100;
      padding-bottom: 60px;

      @media (max-width: 375px) {
        font-size: 18px;
        letter-spacing: 0.36px;
      }
    }
  }

  &__download {
    display: flex;
    color: $lightgray;
    font-weight: 100;
    font-size: 16px;

    @media(max-width: 768px){
      flex-direction: column;
    }

    &-icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 46px;
      height: 46px;
      border: 1px solid $red;
      margin-right: 20px;

        &:after {
          content: '';
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          width: 26px;
          height: 26px;
          background: $red;
        }

      &_price {
        &:after {
          content: url('../images/svg/download.svg');
        }

        @media(max-width: 768px){
          margin-bottom: 25px;
        }
      }

      &_present {
        &:after {
          content: url('../images/svg/present.svg');
        }
      }
    }

    &-link {
      text-decoration: none;
      border-bottom: 1px dotted transparent;
      transition: 0.2s;
      letter-spacing: 0.32px;

      span {
        padding-bottom: 3px;
        border-bottom: 1px dotted $lightgray;
      }

      &:hover {
        span {
          border-bottom: 0;
        }

        .motivation__download-icon{
          border-color: $white;

          &:after{
            background-color: $white;
          }
        }
      }

    }

    &-item{
      display: block;
      padding-left: 5px;
      padding-right: 54px;
    }
  }

  &__button {
    margin: 77px 0 85px;
  }
}
