include ../icon/icon

main.motivation
  .container
    .row
      .col-xl-8.offset-xl-2
        .motivation__intro
          h1.motivation__intro-title Купите апартаменты в отеле премиум-класса и получите жилье на берегу моря,
          .motivation__intro-slogan в котором вы сможете жить или сдавать его по хорошей цене
        ul.motivation__download
          li.motivation__download-item
            a.motivation__download-link(href='#download_price')
              .motivation__download-icon.motivation__download-icon_price
              #download_price.motivation__download-text Скачать полный прайс
          li.motivation__download-item
            a.motivation__download-link(href='#download_present')
              .motivation__download-icon.motivation__download-icon_present
              #download_present.motivation__download-text Скачать презентацию
        .button.button_red.motivation__button Выбрать апартаменты мечты
          +icon({ icon: 'key', className: 'button__icon' })
