.main-header{
  color: $white;

  &__logo {
    display: flex;
    align-items: center;
  }

  &__title {
    font-weight: 400;
    font-size: 14px;
    max-width: 284px;
    line-height: 16px;
  }

  &__contacts {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 35px;
    font-size: 14px;

    @media (max-width: 992px){
      flex-direction: column;
      align-items: flex-start;
      margin-top: 20px;
    }

    &-phone, &-button{
      letter-spacing: 1.4px;
    }

    &-phone{
      text-decoration: none;
      border-bottom: 1px dotted transparent;
      transition: 0.2s;

      @media (max-width: 992px){
        margin-bottom: 11px;
      }

      &:hover{
        border-color: $white;
      }
    }

    &-button{
      color: $white;
      margin-left: 27px;

      @media (max-width: 992px){
        padding: 22px;
        margin-left: 0;
      }
    }
  }
}
