header.container.main-header
  .row.align-items-center
    .col-2
      a.main-header__logo(href='/')
        img(src='../images/logo.png')
    .col.main-header__title Готовые апартаменты в Ayu-Dag Resort на берегу Черного моря
    .col.main-header__contacts
      a.main-header__contacts-phone(href='tel:+7 (000) 000-00-00') +7 (000) 000-00-00
      button.button.main-header__contacts-button Заказать звонок
