header.container.main-header
  .row.justify-content-between
    .col-2.main-header__logo
      a.main-header__logo-link(href='/')
        img.main-header__logo-icon(src='../images/logo.png')
    .col.main-header__logo-title Готовые апартаменты в Ayu-Dag Resort на берегу Черного моря
    .col.main-header__contacts
      a.main-header__contacts-phone(href='tel:+7 (000) 000-00-00') +7 (000) 000-00-00
      button.button.main-header__contacts-button Заказать звонок
