.container.main-header
  .col-xl-6.main-header__logo
    .main-header__logo-wrapper
      a(href='/')
        img(src='../images/logo.png')
    .main-header__logo-title Готовые апартаменты в Ayu-Dag Resort на берегу Черного моря
  .col-xl-6.main-header__contacts
    a.main-header__contacts-phone(href='tel:+7 (000) 000-00-00') +7 (000) 000-00-00
    button.button.main-header__contacts-button Заказать звонок
