h1{
  font-family: 'MuseoSansCyrl';
}

.main-header{
  display: flex;
  justify-content: space-between;

  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  color: $white;

  &__logo{
    display: flex;
    align-items: center;

    &-wrapper{
      padding: 22px 23px;
      background: $white;
      margin-right: 50px;
    }

    &-title{
      font-weight: 400;
      font-size: 14px;
      max-width: 252px;
    }

  }

  &__contacts{
    display: flex;
    align-items: center;

    &-phone, &-button{
      letter-spacing: 1.4px;
    }

    &-phone{
      text-decoration: none;
      border-bottom: 1px dotted transparent;
      transition: 0.2s;

      &:hover{
        border-color: $white;
      }
    }

    &-button{
      color: $white;
      margin-left: 26px;
    }
  }
}
